.focus{
    padding: 15rem 30rem;

    @media screen and (min-width : 1700px){
        padding: 15rem 15rem;
    }
    @media screen and (max-width : 1600px){
        padding: 10rem 18rem;
     }

     @media screen and (max-width : 1160px){
        padding: 8rem 15rem;
     }

     @media screen and (max-width : 650px){
        padding: 5rem 10rem;
         }

         @media screen and (max-width : 420px){
            padding: 3rem 5rem;
                }
    &__heading{
        font-size: 3.2rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        letter-spacing: .2rem;
        margin-bottom: 2rem;

        @media screen and (min-width : 1700px){
            font-size: 4rem !important;
        }

       
    }

    &__subtext{
        font-size: 1.6rem;
        text-align: center;
        font-weight: 300;
        line-height: 150%;

        @media screen and (min-width : 1700px){
            font-size: 2rem !important;
        }
    }

    &__services{
        margin-top: 10rem;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
        grid-template-rows: repeat(2,1fr);
        grid-column-gap: 10rem;
        grid-row-gap: 15rem;

        @media screen and (max-width : 530px){
            margin-top: 8rem;
                }

        @media screen and (max-width : 420px){
            grid-column-gap: 5rem;
            grid-row-gap: 5rem;
            margin-top: 5rem;
                }



        &__box{
            text-align: center;

            i{
                color: rgb(0, 116, 217);
                font-size: 9rem;
                margin-bottom: 2rem;

                @media screen and (min-width : 1700px){
                    font-size: 10rem;
                }
            }

            &--heading{
                font-size: 1.8rem;
                font-weight: 300;
                text-transform: uppercase;
                margin-bottom: 2rem;

                @media screen and (min-width : 1700px){
                    font-size: 2.5rem;
                }
            }

            p{
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 150%;

                @media screen and (min-width : 1700px){
                    font-size: 2rem;
                }
            }
        }
    }
}