.reviews{
    padding: 10rem 30rem;
    text-align: center;
    color: $color-black;

    @media screen and (min-width : 1700px){
        padding: 8rem 20rem;
    }

    @media screen and (max-width : 1600px){
        padding: 6rem 18rem;
     }

     @media screen and (max-width : 650px){
        padding: 6rem 10rem;
            }



    &__heading{
        font-weight: 300;

        @media screen and (min-width : 1700px){
            font-size: 4rem !important;
        }
    }

    &__container{
        margin-top: 10rem;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
        grid-column-gap:10rem;

        &--boxes{
            display: block;
            border-left:1rem solid #ccc;
            padding: 2rem; 
            position: relative;

            @media screen and (max-width : 1700px){
                margin-bottom: 2rem;
             }

            @media screen and (max-width : 1600px){
                margin-bottom: 3rem;
             }

            .img__subtext{
                font-size: 1.3rem;
                color: $color-black;
                margin-top: 2rem;
                margin-left: -10rem;

                span{
                    color:rgb(0, 116, 217);
                    font-weight: 700;
                }
            }
        }
        
        p{
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 150%;
            font-style: italic;
            text-align: left;

            @media screen and (min-width : 1700px){
                font-size: 2rem;
            }
        }
    }
}